:root {
    font-family:Verdana, Geneva, Tahoma, sans-serif
    
}    
* {
    margin: 0;
    padding: 0;
    font-size: 12px;
    
}

body {
    height: 70vh;
    margin: 5% 15%;
    padding: 1% 1%;
    border: 1px solid #d0d7de;
    max-width: 800px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
            
}

.cabecalho {
    border: 1px solid #d0d7de;
    background-color: #f9fbfd;
    padding: 20px;
    margin-bottom: 2%;
   

}
.cabecalho__titulo {
    font-weight: 600;
    font-size: 20px;
    color: #004080;
}

.container {
   display: flex;  

}  


.container__cabecalho {
    border: 1px solid #d0d7de;
    background-color: #f9fbfd;
    padding: 2% 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    display: block;
}
.container__cabecalho__1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container__cabecalho__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
    display: block;
}

.container__cabecalho__tipo-darf {
    
}

.container__subtitulo {
    margin-left: 1%;
    font-size: 14px;
    color: #004080;

}
.container__darf{
    border: 1px solid #d0d7de;
    background-color: #f9fbfd;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container__informacoes-NF {
    border: 1px solid #d0d7de;
    background-color: #f9fbfd;
    padding: 2% 2%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.container__informacoes-retencao {
    border: 1px solid #d0d7de;
    background-color: #f9fbfd;
    display: flex;
    padding: 2% 2%;
    justify-content:space-between;
    align-items:flex-end;
    margin-bottom: 10px;

}

.lista-recolhedor {
    border: 1px solid #d0d7de;
    background-color: #f9fbfd;
    padding: 1% 1%;
    display: flex;
    justify-content:center;
    flex-direction: column;
    margin-bottom: 10px;
}

.Total-lista-recolhedor {
    text-align: right;
    padding: 1%;
 }
.container__observacao__titulo {
    margin-left: 1%;
    color: #004080;
    font-weight: 600;
}

.container__observacao {
   margin-bottom: 10px;
  
}
.meu-textarea {
  width: 100%;
  height: 60px;
  border: 1px solid #d0d7de;
  resize: none;
  font-size: 14px;

}

.container__botoes {
    display: flex;
    justify-content: center;
    padding: 20PX;
    gap: 10px;
}
.container__botoes__botao {
    width: 100px;
    height: 30px;
    border-radius: 5%;
    border: none;
    cursor: pointer;
    color: white;
    background-color: #0078d4;
}

table {
   width: 100%;
   
}

th {
    border: 1px solid gray;
    background-color: lightgray;
    padding: 1%;
    color: #295F98;
   
}

td {
     border: 1px solid gray;
     text-align: center;
     padding: 1%;
}

p {
    color: #295F98;
}

.texto {
    color: black;
    font-weight: 500;
}

input {
    max-width: 75%;
}

